In [56]:
# Update tuple
a=("krishna","rahul","ritik")

In [61]:
b=list(a)

In [62]:
b[1]= "rahon"

In [63]:
a=tuple(b)

In [28]:
print(a)

('krishna', 'rahon', 'ritik')

In [29]:
b[2]= "golu"

In [30]:
a=tuple(b)

In [31]:
print(a)

('krishna', 'rahon', 'golu')

In [32]:
# loop tuple

In [33]:
a=("apple","banana","pineapple")

In [39]:
for b in a:
    print(b)

apple
banana
pineapple

In [40]:
a=("apple","banana","pineapple",10,20,10.20)

In [41]:
print(a)

('apple', 'banana', 'pineapple', 10, 20, 10.2)

In [42]:
for b in a:
    print(b)

apple
banana
pineapple
10
20
10.2

In [49]:
# join tuple
a=("manish","rohan","krishna")
b=(10,20,30)

In [50]:
c=a+b

In [51]:
print(c)

('manish', 'rohan', 'krishna', 10, 20, 30)

In [65]:
#python set

In [72]:
a={"krishna","rohan",10}

In [73]:
print(a)

{10, 'rohan', 'krishna'}

In [76]:
# access set items
a={"krishna","rohan",10}

In [77]:
for b in a:
    print(b)

10
rohan
krishna

In [78]:
a={"krishna","rohan",10}

In [82]:
print(10 in a)

True

In [83]:
print(20 in a)

False

In [84]:
# add set items

In [94]:
a= {"apple","banana","cherry"}

In [96]:
a.add("orange")

In [97]:
print(a)

{'banana', 'orange', 'cherry', 'apple'}

In [98]:
a={"apple","banana","cherry"}
b={"krishna","mohan","sohan"}

In [99]:
a.update(b)

In [100]:
print(a)

{'banana', 'sohan', 'krishna', 'apple', 'cherry', 'mohan'}